# Vector Search & NLP
langchain
chromadb
faiss-cpu
sentence-transformers

# LLM Support
transformers
auto-gptq
huggingface_hub
torch
llama-cpp-python

# File handling
pandas
openpyxl

# Streamlit UI
streamlit
streamlit-extras

# Utilities
requests
click

# Fix protobuf
protobuf==5.27.3
